[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
xq = "python xq.py"

[dev-packages]
pytest = "*"
pytest-cov = "*"
flake8 = "*"
black = "*"

[packages]
graphene = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
